.cabecalho{
    align-items: center;
    background-color: var(--cor-cabecalho-e-footer);
    color: var(--cor-branco);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em 4em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.cabecalho__logo{
    width: 70px;
}

/* Menu hamburguer */
.cabecalho label{
    background-color: var(--cor-branco);
    display: none;
}


.menu{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.menu__li{
    list-style: none;
    margin: 0 0.5em;
}

.menu__link{
    color: var(--cor-branco);
    text-decoration: none;
    transition: 0.3s all;
}

.menu__link:hover{
    color: var(--cor-link-hover);
}

.caixaMenu{
    display: none;
}


@media(max-width: 768px){
    .cabecalho{
        justify-content: space-between;
    }

    .cabecalho label{
        cursor: pointer;
        display: block;
    }

    .menu{
        background-color: var(--cor-cabecalho-e-footer);
        color: var(--cor-branco);
        flex-direction: column;
        font-size: 20px;
        right: -400px;
        margin: 0;
        position: absolute;
        text-transform: uppercase;
        top: 100%;
        transition: 0.5s all;
        width: 300px;
    }

    .menu__li{
        border-bottom: 1px solid grey;
        margin: 0;
        width: 100%;
    }

    .menu__link{
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 1em 0;
        width: 100%;
    }

    .caixaMenu:checked ~ .menu{
        right: 0;
    }

}